/* ----- Colores -----*/
:root{
    --rojo-usbp: #a3223a;
    --blanco-usbp: #f8f9fa;
    
    --gris-fondo-usbp: #d1d1d1;
    --color-texto: #505050;
}
/* ----- ESTILOS GENERALES -----*/
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

p {
    font-size: 18px;
}

body{
    background-color: var(--blanco-usbp);
}

main{
    padding-top: 40px;
}

/* ----- botones -----*/
.boton-ubp {
    background-color: var(--blanco-usbp);
    border: 1px solid var(--blanco-usbp);
    color: var(--rojo-usbp);
    box-shadow: #505050 0px 2px 4px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.boton-ubp:hover {
    color: var(--blanco-usbp);
    border: 1px solid var(--blanco-usbp);
    background-color: var(--rojo-usbp);
}



/* ----- HEADER -----*/
header {
    width: 100%;
    padding: 20px;
    background-color: var(--rojo-usbp);
    box-shadow: 0 8px 20px rgba(0,0,0,0.45);
}
header img {
    width: 50px;
}


/* ----- PRESENTACION #0 -----*/
.presentacion1 {
    display: flex;
    flex-wrap: wrap;
}
.texto_presentacion {
    background-color: var(--rojo-usbp);
    padding: 40px 50px;
    color: var(--blanco-usbp);
}
.imagen_presentacion img {
    max-height: 300px;
}


/* ----- Barras -----*/
.barra {
    border: 1px solid var(--rojo-usbp);
    margin: 40px 0;
    opacity: 100%;
}



/* ----- PRESENTACION #1 -----*/
.img-circle {
    object-fit: cover;
    width: 140px;
    height: 140px;
    margin-bottom: 16px;
}




/* ----- PRESENTACION #2 -----*/
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 20px;
}




/* ----- FOOTER -----*/
footer {
    background-color: var(--rojo-usbp);
    color: var(--blanco-usbp);
    text-align: center;
}

footer hr {
    border-color: var(--blanco-usbp);
    opacity: 1;
}

footer img {
    height: 80px;
}

footer ul {
    padding: 0;
    margin: 0 20px;
}
