*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background: var(--blanco-usbp);
}

main{
    margin: 0;
    padding: 0;
}


/* ----- Colores -----*/
:root{
    --rojo-usbp: #a3223a;
    --blanco-usbp: #f8f9fa;
    --gris-fondo-usbp: #d1d1d1;
    --color-texto: #505050;
}


/* ----- HEADER -----*/
.header-usbp{
    background-color: var(--rojo-usbp);
}
#nombreUsuario{
    color: var(--rojo-usbp) !important;
    font-size: 25px;
    font-weight: bold;
}


/* ----- PUBLICACIONES -----*/
h4{
    color: var(--rojo-usbp);
}
.container{
    text-align: center;
}
.posts{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--blanco-usbp);
}
.posts img{
    margin-bottom: 16px;
}
.posts p{
    margin: 0 0 10px 0;
    text-align: left;
}
#barra{
    width: 100%;
    border: 2px solid var(--rojo-usbp);
    opacity: 0.8;
    border-radius: 5px;
    margin-bottom: 20px;
}