*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

/* ----- Colores -----*/
:root {
    --color-principal: #a3223a;
    --color-fondo: #d1d1d1;
}


/* ---- CUERPO ---- */
body {
    background-color: var(--color-fondo);
}


/* ---- Botones ---- */
.btn-usbp {
    background-color: var(--color-principal);
    color: white;
    border: 1px solid var(--color-principal) !important;
}
.btn-usbp:hover {
    background-color: white;
    color: var(--color-principal);
}

.btn-usbp-blanco {
    background-color: white;
    color: var(--color-principal);
    border: 1px solid var(--color-principal) !important;
}
.btn-usbp-blanco:hover {
    background-color: var(--color-principal);
    color: white;
}