*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background: #d1d1d1;
}

main{
    margin: 0;
    padding: 0;
}



/* ----- Colores -----*/
:root{
    --rojo-usbp: #a3223a;
    --blanco-usbp: #f8f9fa;
    --gris-fondo-usbp: #d1d1d1;
    --color-texto: #505050;
}




/* Barra titulo */
main {
    padding-bottom: 100px;
}

main h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--blanco-usbp);
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    color: var(--color-texto);
}



/* ----- BUSCADOR -----*/
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.boton-usbp {
    background-color: var(--rojo-usbp);
    color: white;
    border: none;
    transition: 0.3s;
}

.boton-usbp:hover {
    color: var(--rojo-usbp); 
    background-color: white;
}




/* ----- TEMAS -----*/
.tema-usbp {
    background-color: #691525;
    font-size: 22px;
    color: white;
    border: none;
    transition: 0.3s;
    width: 100%;
    max-width: 500px;
    height: 250px;
}

.tema-usbp:hover {
    color: var(--rojo-usbp); 
    background-color: white;
}