*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background: #d1d1d1;
}

main{
    margin: 0;
    padding: 0;
}



/* ----- Colores -----*/
:root{
    --rojo-usbp: #a3223a;
    --blanco-usbp: #f8f9fa;
    --gris-fondo-usbp: #d1d1d1;
    --color-texto: #505050;
}



/* ----- HEADER -----*/
.header-usbp{
    width: 100%;
    max-width: 100%;
    padding: 5px 40px;
    background-color: var(--rojo-usbp);
    box-shadow: 0 5px 10px rgba(0,0,0,0.35);
    margin-bottom: 30px;
}
.header-usbp Header{
    border-bottom: 1px solid var(--blanco-usbp);
}



/* ----- ESTILOS FORMULARIO -----*/
.contenedor-formulario {
    max-width: 500px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 90px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 120px;
}

.keywords-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background: #fafafa;
}

.keyword-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.keyword-item input {
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: var(--rojo-usbp);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.add-keyword-btn {
    background: #555;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 8px;
}

.add-keyword-btn:hover {
    background: #666;
}

